@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './pages/Landing/style.css';
:root {
}
.strong-shadow strong {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.customside > .ant-layout-sider-children {
  height: fit-content !important;
}
.show-mask > .ant-image .ant-image-mask {
  opacity: 1 !important;
}
